:root {
	--x-color: red;
	--o-color: blue;
	--tie-color: grey;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-content: center;
}

.turn {
	position: absolute;
	top: 50px;
	left: 50px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 70px;


	&.x {
		color: var(--x-color);

		&::after {
			content: "X";
		}
	}

	&.o {
		color: var(--o-color);

		&::after {
			content: "O";
		}
	}
}

.main-grid {
	height: 90vh;
	aspect-ratio: 1;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;

	.sub-grid {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(3, 1fr);
		gap: 5px;
		border: 1px solid black;

		.cell {
			background-color: #eee;
			border: 1px solid #555;
			transition: all 0.1s ease-in-out;

			@mixin CellMark($content, $color) {
				display: grid;
				place-content: center;
				font-family: monospace;
				font-size: 40px;

				&::after {
					content: $content;
					color: $color;
				}
			}

			&.x {
				@include CellMark("X", var(--x-color))
			}

			&.o {
				@include CellMark("O", var(--o-color))
			}
		}

		&:not(.inactive) {
			.cell:hover {
				cursor: pointer;
				background-color: white;
			}
		}

		&.inactive {
			filter: brightness(0.8);
		}

		@mixin SubGridMark ($content, $color) {
			display: flex;
			align-items: center;
			justify-content: center;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr;

			.cell {
				display: none;
			}

			&::before {
				content: $content;
				color: $color;
				font-family: Arial, Helvetica, sans-serif;
				text-align: center;
				font-size: 100px;
			}
		}

		&.x {
			@include SubGridMark("X", var(--x-color))
		}

		&.o {
			@include SubGridMark("O", var(--o-color))
		}

		&.tie {
			@include SubGridMark("---", var(--tie-color))
		}
	}
}

@media (width < 1442px) {
	.main-grid {
		scale: 0.8;
	}
}

@media (width < 1265px) {
	.main-grid {
		scale: 0.6;
	}
}

@media (width < 953px) {
	.turn {
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media (width < 517px) {
	.main-grid {
		scale: 0.4;
	}
}

@media (height < 628px) {
	.turn {
		font-size: 40px;
	}
}

@media (width < 262px) {
	.turn {
		font-size: 25px;
	}
}